.navBar {

}
.contenedorDropDown{
  display: flex;
  width: 100%;
  /* background-color:  #E53935; */
  background-color: #333333 ;
  justify-content: center;
  text-align: center;

;
}
.superiorNav {
  display: grid;
  background-color: #00897B;
  grid-template-columns: 60% 30% 10%;
  font-size: 13px;
  justify-content: center;
  padding-bottom:  3px;
}
.banner{
  width: 100%;
}

.superiorRight {
  display: flex;
  gap: 5px;
}

.superiorLeft {
  display: flex;
  gap: 5px;
}

.icon{
  height: 20px;
  width: 20px;
}
.botones{
  background-color: #E53935 ;
  color: red;
  border-radius: 0;
  border-left: solid rgb(30, 30, 30) 0.5px;
  border-right: solid rgb(30, 30, 30) 0.5px;
}
.botones:hover{
  background-color: black ;
  color: white;
  border-radius: 0;
  border-left: solid white 0.5px;
  border-right: solid white 0.5px;
}
