.navBar {

}

.superiorNav {
  display: grid;
  background-color: rgb(233, 230, 230);
  grid-template-columns: 60% 30% 10%;
  font-size: 13px;
}
.banner{
  width: 100%;
}

.superiorRight {
  display: flex;
  gap: 5px;
}

.superiorLeft {
  display: flex;
  gap: 5px;
}

.icon{
  height: 20px;
  width: 20px;
}
.botones{
  background-color: red;
  border-radius: 0;
  border: solid black 1px;
}