.searchBar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:30px;
    width:100%;
    align-items: center;
    padding: 5px 0px 5px 0px;
    text-align: center;
    background-color: #00897B;
    margin-bottom: 40px;
    -webkit-box-shadow: -1px -8px 39px 17px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -8px 39px 17px rgba(0,0,0,0.75);
    box-shadow: -1px -8px 20px 5px rgba(0,0,0,0.75);
  }
  .search{
    width: 600px;
    border: none;
    border-radius: 30px;
    height: 30px;
  }
  .search:focus{
    outline: none;
  }
  .p-searchbar{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.p-searchbar:hover{
    cursor: pointer;
}
