table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #00897B;
  }
  .eliminarBtn,.editarBtn{
    background-color: white;
    color: black;
    border-radius: 18px;
    border: solid black 1px
  }